

<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li> <!-- use the name used in urls.view -->
        <li><a href="{% url 'contact' %}">Contact</a></li> <!-- use the name used in urls.view -->
        <li><a href="{% url 'about' %}">About</a></li> <!-- use the name used in urls.view -->
        <li><a href="{% url 'details' %}">News Details</a></li> <!-- use the name used in urls.view -->
        <li><a href="{% url 'add' %}">Registration</a></li> <!-- use the name used in urls.view -->

    </ul>
</nav>