{% extends 'base.html'%}

{% block title %} FormUpadate {% endblock %}

{% block content %}



<div class="container">


    <h1> This is our modal form </h1>
    <h3> Please register yourself </h3>
    <a href="{% url 'detailsdoc' %}">Files uploaded </a>

    <form enctype="multipart/form-data"  method="post" action="{% url 'addfile' %}" ><!-- redirection to the url admodalform-->
        {% csrf_token %} <!-- to validate the form-->
        <div class="form-group">
                <label>Description</label>
                {{upload.description}} <!-- field come from forms.py RegistrationModalForm -->
        </div>
        <div class="form-group">
                <label>Document</label>
                {{upload.document}} <!-- field come from forms.py RegistrationModalForm -->
        </div>
         <input type="submit" value="addfile" class="btn btn-success">
    </form>


</div>
{% endblock %}